
%button{
  border-radius: $borderRoundedSoft;
  cursor:pointer;
  display: inline-block;
  position: relative;
  @include componentBoxLarge;
  @include lovehate{$self:true}
  transition:$transitionFast background-color;
  white-space: nowrap;
  width: 140px;
  height: 43px;
}



.button--primary{
  @extend %button;
  background-color: $invertDefaultColor;
  border:$borderDefault $baseColorMed;
  color:$baseColorMed;
  &:hover{
    background-color: $baseColorLight;
    color:$invertDefaultColor;
  }
  &:active{
    background-color: $baseColorDark;
    color:$invertDefaultColor;
  }
  @include faMatchElemState($baseColorMed,$invertDefaultColor,$invertDefaultColor);
}

.button--primarySolid{
  @extend %button;
  @include lovehate{$self:true}
  border:$borderDefault $baseColorMed;
  background-color: $baseColorMed;
  color:$invertDefaultColor;
  &:hover{
    background-color: $baseColorLight;
  }
  &:active{
    background-color: $baseColorDark;
  }
  @include faMatchElemState($invertDefaultColor,$invertDefaultColor,$invertDefaultColor);
}



.button--disabled{
  @extend %button;
  background-color: $altColor;
  border:$borderDefault $defaultColorLight;
  color:$invertDefaultColor;
  &:hover{
    background-color:  $altColor;
    color:$invertDefaultColor;
  }
  &:active{
    background-color:  $altColor;
    color:$invertDefaultColor;
  }
}


.button--primary--round{
  @extend .button--primary;
}

.button--primarySolid--round{
  @extend .button--primarySolid;
}

.button--disabled--round{
  @extend .button--disabled;
}

.button--primary--round,
.button--primarySolid--round,
.button--disabled{
  border-radius:$borderRoundedHard;
}

.buttonGroup{
  display:inline-flex;
  @include componentBoxMed;
  & > a[class*="button"]{
    margin:-3px;
    display:inherit;
  }
  & > a[class*="button"]:first-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  & > a[class*="button"]:last-child{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  & > a[class*="button"]:not(:first-child):not(:last-child){
    border-radius:0;
  }
}